* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
}
 .navbar-brand {
    font-weight: bold;
    color: #063255 !important;
    font-size: 1.5rem;
}

.nav-link {
    color: #394149 !important;
    font-weight: 600 !important; /* Set to normal weight */
    transition: color 0.3s;
    font-size: 16px;
    padding-left: 1.25rem;
    
}
.nav-link:hover {
    color: #000 !important;
}
.clone-btn {
    background-color: #f7e4cb !important;
    color: #F58A07 !important;
    border-radius: 20px !important;
    padding: 8px 20px;
    font-weight: 600;
    border: none;
    transition: background 0.3s ease-in-out;
}
.clone-btn:hover {
    background-color: #ffcc99;
    color: #ff4500;
}
.heading {
    color: #1D3444;
}
.new-class {
    border-radius: 50px !important;
    background-color: #F58A07 !important;
    /* border: none !important; */
    color: #FFFFFF !important;
}
.heading-paragraph {
    font-family: "Poppins", sans-serif !important;
    font-size: 18px !important;
    color: #5B5B5B;
}
.font-sty, .user-role, .Blog-header, .Blog-paragraph, .blog-heading, .last-btn, .newsletter, .listing, .copy-right, .footer-heading, .footer-socials, .term-policy, .support-title-pop, .stuart, .pop-paragraph {
    font-family: "Poppins", sans-serif !important;
}
.number {
    font-family: "Inter", sans-serif !important;
    color: #F58A07;
}
.start-up {
    color: #0D1317;
}
.start-up-paragraph {
    color:#1D3444;
}
.startistic-paragraph {
    color: #5B5B5B;
}
.statistic-role {
    font-size: 22px !important;
    color: #0D1317;
}
.About {
color: #0D1317;
}
.About-paragraph {
font-weight: 500;
font-size: 17.5px;
color: #5B5B5B;
padding-right: 5px !important;
}
 .profile-card-pop {
            position: relative;
        }
        .profile-info-pop {
            position: absolute;
            bottom: 0;
            width: auto;
            padding: 20px;
            height: 210px;
            background: rgba(0, 0, 0, 0.8);
            color: #FFFFFF;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            border-radius: 12px;
            padding-bottom: .625rem;
            margin-top: -0.3125rem;
        }
        .profile-card-pop:hover .profile-info-pop {
            opacity: 1;
        }
        .profile-info-pop h3 {
            margin: 0;
            font-size: 1.1875rem;
            font-weight: 600;
            color: #FFFFFF;
        }
        .profile-info-pop p {
            font-size: 0.9rem;
            margin-top: 15px;
            color: #FFFFFF;
            font-weight: 400;
        }
        .support-title-pop {
            font-size: .875rem;
            opacity: 0.7;
            font-weight: 600;
            color: #FFFFFF;
            margin-top: 15px;
        }
.user-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-profile  img {
width: 80px;
height: 80px;
border-radius: 50%;
}
.user-role {
    align-self: center;
}
.user-role > h6 {
    font-weight: 500;
    color: #063255;
    font-size: 24px;
}
.user-role > p {
    font-weight: 500;
    font-size: 18px;
    color: #F58A07;
}
.Blog-header {
    font-weight: 500;
    font-size: 20px;
    color: #0D1317;
}
.Blog-paragraph {
    font-weight: 500;
    font-size: 1rem;
    color: #5B5B5B;
}
.blog-card:hover {
    transform: translateY(-5px);
}
.blog-card {
    border-radius: 20px !important;
}
.blog-card > a>img:hover {
border-bottom: #F58A07 2px solid;
transform: translateY(-5px);
}
.blog-heading {
    font-size: 2.375rem;
    font-weight: 600;
    color: #0D1317;
}
.second-section {
    background-color: #DCEAF5;
    
}
.footer {
    background-color: #063255 !important;
    padding-bottom: 50px;
    background: url(../Assets/Aboutimages/Shape\ Right.png), url(../Assets/Aboutimages/Shape\ Left.png);
   background-repeat: no-repeat;
  background-position: top 38px right, bottom left;
  background-size: 43px 200px, 43px 120px;
}
ul > li {
    list-style-type: none;
}
.card-blog {
    margin-bottom: 5.625rem;
}

.role-footer > h6 {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 24px;
}
.footer-heading {
    font-size: 26px;
    font-weight: 600;
    color: #FFFFFF;
}
.role-footer {
    width: 80%;
}
.copy-right {
    color:#FFFFFF ;
}
 .footer-socials > a {
    /* display: flex; */
    /* flex-direction: row; */
    gap: 20px;
    color:#FFFFFF ;
    text-decoration: none;
}
.footer-socials  {
    display: flex;
    gap: 20px;
}
.listing, .term-policy {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
}
#bold-list-item {
    font-weight: 600;
    padding-bottom: 10px;
}
.listing > a {
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
} 
.listing a:hover {
    color: #F58A07;
}
 .copy-right  > a {
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
} 
 .copy-right > a:hover {
    color: #F58A07;
}
.term-policy a {
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
}
.term-policy a:hover {
    color: #F58A07;
}
.lisst {
    margin-top: .625rem;
}
.newsletter {
    font-size: 1.125rem;
    font-weight: 600;
    color: #FFFFFF;
    /* margin-bottom: .625rem; */
}
.input-space {
    font-family: "Inter", sans-serif !important;
    font-size: 1rem !important;
    color: #9C9C9C !important;
    width: 15.125rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    border: none;
    padding-left: 1.25rem;
}
.video-btn > button {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
    padding: 4px 0px 0px 6px;
    color: #F58A07;
}
.video-btn > button:hover {
    background-color: #F58A07;
    color: #FFFFFF;
}
.video-btn > span {
    font-size: 17px;
    font-weight: 600;
    color: #FFFFFF;
    padding-left: 10px;
}
.video-img {
    position:relative;
}
.video-btn {
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.last-btn {
    margin-top: .9375rem;
width: 136px;
height: 44px;
background-color: #F58A07;
border: none;
border-radius: 3.125rem;
  font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
} 
.last-btn:hover {
    background-color: #FFFFFF;
    color: #F58A07;
    transform: translateY(-5px);
}
.last-section, .term-policy {
    display: flex;
}
.last-section {
    justify-content: space-between;
}
.term-policy {
    gap: 1.25rem;
} 
main {
    width: 100%;
    max-width: 120rem;
}

@media only screen and (max-width: 338px) {
.first-section {
  flex-direction: column-reverse !important;
  margin-top: -30px !important;
  gap: 0;
}
.first-section-1 {
  flex-direction: column-reverse !important;
  margin-top: -30px !important;
  gap: 0;
}
.heading {
    font-size: 28px !important;
    font-weight: 700;
    line-height: 42px;
    margin-top: -30px !important;
}
.heading-paragraph {
    font-size: 16px;
    font-weight: 600;
}
.start-up {
    font-size: 26px !important;
}
.energy-heading-mb {
    margin-top: 20px;
}
.start-up-paragraph {
    font-size: 16px !important;
}
.team-work-hd {
    margin-top: -20px;
}
.about-pg {
    margin-top: 30px;
}
.connect {
    padding-left: .625rem  !important;
}
.row-img {
width: 90% !important;
height: 90% !important;
}
.four-row-img {
    justify-content: center;
    gap: 20px;
}
.chikelu-blog {
   padding-right: 0 !important;
}
.number {
    font-size: 1.625rem;
}
.statistic-role {
    font-size: 1.25rem;
}
.font-sty {
    font-size: 1rem;
}
.statistic-item {
    margin-top: 15px;
}
.About {
    font-size: 28px;
}
.footer {
     background-size: 30px 130px, 30px 80px;
}
.About-paragraph {
    font-size: 1rem;
}
.user-profile  img {
width: 60px;
height: 60px;
border-radius: 50%;
}
.user-role > h6 {
    font-size: 20px;
}
.user-role > p {
    font-size: 16px;
}
.user-profile {
    padding-left: 20px;
}
.Blog-header {
    font-size: 18px;
}
.Blog-paragraph {
    font-size: 14px;
}
.blog-card > a>img:hover {
border-bottom: #F58A07 2px solid;
}
.blog-heading {
    font-size: 28px;
}
.card-blog {
    margin-left: 12px;
}
.blog-item {
    margin-top: -40px;
}
.footer-heading {
    font-size: 20px;
}

.footer-socials  {
    display: flex;
    gap: 20px;
}
.listing, .term-policy {
    font-size: 13px;
}
#bold-list-item {
    font-weight: 600;
    padding-bottom: 10px;
}
.lisst {
    margin-top: .625rem;
}
.newsletter {
    font-size: 16px;
}
.input-space {
    font-size: .8125rem !important;
    width: 190px;
    height: 38px;
}
.last-btn {
width: 100px;
height: 34px;
} 
.last-btn {
    font-size: 12px;
}
.last-btn:hover {
    background-color: #FFFFFF;
    color: #F58A07;
    transform: translateY(-5px);
}
.last-section, .term-policy {
    flex-direction: column;
}
.last-section {
    justify-content: space-between;
}
.term-policy {
    gap: 1.25rem;
} 
.role-footer {
    display: flex;
    flex-direction: column;
}
.video-btn > button {
    width: 40px;
    height: 40px;
   font-size: 12px;
    padding-bottom: 1px;
}
.video-btn {
   left: 20px;
   bottom: 20px;
}
}
@media only screen and (max-width: 768px) {
.first-section, .first-section-1 {
  flex-direction: column-reverse;
}
.hormony {
    display: flex !important;
    flex-wrap: wrap !important;
}
}