* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.navbar-brand {
  font-weight: bold;
  color: #063255 !important;
  font-size: 1.5rem;
}
.nav-link {
  color: #394149 !important;
  font-weight: 600 !important; /* Set to normal weight */
  transition: color 0.3s;
  font-size: 16px;
  padding-left: 1.25rem;
}
.nav-link:hover {
  color: #f58a07 !important;
}
.clone-btn {
  background-color: #f7e4cb !important;
  color: #f58a07 !important;
  border-radius: 20px !important;
  padding: 8px 20px;
  font-weight: 600;
  border: none;
  transition: background 0.3s ease-in-out;
}
.clone-btn:hover {
  background-color: #ffcc99;
  color: #ff4500;
}
.heading {
  color: #1d3444;
}
.new-class {
  border-radius: 50px !important;
  background-color: #f58a07 !important;
  color: #ffffff !important;
}
.new-class:hover {
opacity: 0.5;
transform: translateY(-5px);
}
.heading-paragraph {
  font-size: 1.0625rem !important;
  color: #5b5b5b;
}
.start-up, .heading-paragraph, .About-paragraph, .user-role > p, .user-role > h6, .Blog-header, .Blog-paragraph {
  font-weight: 500;
}
.number {
  font-family: "Inter", sans-serif !important;
  color: #f58a07;
}
.start-up {
  color: #0d1317;
  font-size: 36px;
  font-weight: 600;
  padding-right: 10px;
}
.start-up-paragraph {
  color: #1d3444;
}
.startistic-paragraph {
  color: #5b5b5b;
}
.statistic-role {
  color: #0d1317;
}
.About {
  color: #0d1317;
}
.About-paragraph {
  font-size: 18px;
  color: #5b5b5b;
}

.profile-card-pop {
  position: relative;
}
.profile-info-pop {
  position: absolute;
  bottom: 0;
  /* width: 100%; */
  /* max-width: auto; */
  /* width: auto; */
  padding: 20px;
  height: 210px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 12px;
  padding-bottom: 0.625rem;
  margin-top: -0.3125rem;
}
.profile-card-pop:hover .profile-info-pop {
  opacity: 1;
}
.profile-info-pop h3 {
  margin: 0;
  font-size: 1.1875rem;
  font-weight: 600;
  color: #ffffff;
}
.profile-info-pop p {
  font-size: 0.9rem;
  margin-top: 15px;
  color: #ffffff;
  font-weight: 400;
}
.support-title-pop {
  font-size: 0.875rem;
  opacity: 0.7;
  font-weight: 600;
  color: #ffffff;
  margin-top: 15px;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.user-profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.user-role {
  align-self: center;
}
.user-role > h6 {
  color: #063255;
}
.user-role > p {
  font-size: 1.125rem;
  color: #f58a07;
}
.Blog-header {
  font-size: 1.25rem;
  color: #0d1317;
}
.Blog-paragraph {
  font-size: 1rem;
  color: #5b5b5b;
}
.blog-card {
  border-radius: 20px !important;
  background-color: #ffffff;
}
.blog-card > a > img:hover {
  border-bottom: #f58a07 2px solid;
}
.blog-heading {
  font-size: 2.375rem;
  font-weight: 600;
  color: #0d1317;
}
.second-section {
  background-color: #dceaf5;
}
.footer {
  background-color: #063255 !important;
  padding-bottom: 50px;
  background: url(../Assets/Aboutimages/Shape\ Right.png),
    url(../Assets/Aboutimages/Shape\ Left.png);
  background-repeat: no-repeat;
  background-position: top 38px right, bottom left;
  background-size: 43px 200px, 43px 120px;
}
.card-blog {
  margin-bottom: 5.625rem;
}
.footer-heading {
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
}
.copy-right {
  color: #ffffff;
}
.footer-socials > a {
  gap: 20px;
  color: #ffffff;
}
.footer-socials {
  display: flex;
  gap: 20px;
}
.listing, .term-policy {
  color: #ffffff;
  font-weight: 500;
}
#bold-list-item {
  font-weight: 600;
  padding-bottom: 10px;
}

.listing > a, .copy-right > a, .term-policy a{
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}
.listing a:hover {
  color: #f58a07;
}
.copy-right > a:hover {
  color: #f58a07;
}
.term-policy a:hover {
  color: #f58a07;
}
.lisst {
  margin-top: 0.625rem;
}
.newsletter {
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
}
.input-space {
  font-family: "Inter", sans-serif !important;
  font-size: 1rem !important;
  color: #9c9c9c !important;
  width: 15.125rem;
  height: 2.75rem;
  border-radius: 3.125rem;
  border: none;
  padding-left: 1.25rem;
}
.video-btn > button {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  padding: 4px 0px 0px 6px;
  color: #f58a07;
}
.video-btn > button:hover {
  background-color: #f58a07;
  color: #ffffff;
}
.video-btn > span {
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  padding-left: 10px;
}
.video-img {
  position: relative;
}
.video-btn {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.last-btn {
  margin-top: 0.9375rem;
  width: 136px;
  height: 44px;
  background-color: #f58a07;
  border: none;
  border-radius: 3.125rem;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}
.last-btn:hover {
  background-color: #ffffff;
  color: #f58a07;
  transform: translateY(-5px);
}
.last-section, .term-policy {
  display: flex;
}
.last-section {
  justify-content: space-between;
}
.term-policy {
  gap: 1.25rem;
}
main {
  width: 100%;
  max-width: 120rem;
}

@media only screen and (max-width: 338px) {
  .first-section,
  .first-section-1 {
    flex-direction: column-reverse !important;
    margin-top: -30px !important;
    gap: 0;
  }
  .start-up {
    font-size: 26px !important;
  }

  .team-work-hd {
    margin-top: -30px;
  }
  .row-img {
    width: 90% !important;
    height: 90% !important;
  }
  .four-row-img {
    justify-content: center;
    gap: 20px;
  }
  .footer {
    background-size: 30px 130px, 30px 80px;
  }
  .user-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .user-role > h6 {
    font-size: 20px;
  }
  .user-role > p {
    font-size: 16px;
  }
  .user-profile {
    padding-left: 20px;
  }
  .card-blog {
    margin-left: 12px;
  }
  .blog-item {
    margin-top: -40px;
  }
  #bold-list-item {
    font-weight: 600;
    padding-bottom: 10px;
  }
  .lisst {
    margin-top: 0.625rem;
  }
  .newsletter {
    font-size: 16px;
  }
  .input-space {
    font-size: 0.8125rem !important;
    width: 190px;
    height: 38px;
  }
  .last-btn {
    width: 100px;
    height: 34px;
  }
  .last-btn {
    font-size: 12px;
  }
  .last-section,
  .term-policy {
    flex-direction: column;
  }
  .video-btn > button {
    width: 40px;
    height: 40px;
    font-size: 12px;
    padding-bottom: 1px;
  }
  .video-btn {
    left: 20px;
    bottom: 20px;
  }
}
@media only screen and (max-width: 990px) {
  .first-section,
  .first-section-1 {
    flex-direction: column-reverse !important;
  }
}
